/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  background: url("../img/spriteLogo.png")0px 0px;
}

.delete {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("../img/spriteLogo.png")128px 32px;
}

.edit {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("../img/spriteLogo.png")128px 0px;
}

.img-background {
  background: url("../img/header.png") center center;
  background-size: contain;
  background-repeat: no-repeat;
}

